
#ecommerce_project{
  background-image: url("/images/e-commerce2.png");
}

#infoGalax{
  background-image: url("/images/infoGalax2.png");
}

#crudUsers{
  background-image: url("/images/crudUsers2.png");
}

#pokedex{
  background-image: url("/images/pokedex2.png");
}